
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Messages</title>
</head>
<body>
<h1>TALK2ME</h1>
<div>
  <form action="/message" method="post">
    <textarea type="text" name="message" placeholder="Add your message"></textarea>
    <div>
      <input type="text" name="tag" placeholder="Tag">
    </div>
    <input type="submit" value="Send">
    </div>
  </form>
</div>
  <div>
    <% @messages.reverse.each do |message| %>
      <div>
        <%= message.id %> 
        <a href = "/message/<%= message.id %>">
        <% message.tags.each do |t|%>
          <%= t.text %>
        <%end%>
        <%= message.twenty_chars %></a> 
        <%= message.format_time %>
      <%end%>
    </div>
  </div>
</body>
</html>




